*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
    
}
button{
    border-radius: 10px;
    color: antiquewhite;
    background-color: crimson;
    border-color: antiquewhite;
    width: 150px;
    gap: 100px;
    font-size: larger;
    font-weight: 900;


}

#buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: space-between;

}
#playBtnsContainer{
    display: flex;

}
#restartBtnContainer{
    display: flex;

}


#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 400px;
    gap: 50px;
}

